.upload-container {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0.5rem;
    width: 33vw;
  }
  
  
  
  .file-box {
    display: flex;
    box-sizing: border-box;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: #40414e;
    color: white;
    max-height: 70vh;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 10px 0;
    white-space: normal;
    text-align: left;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .file-box span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }

  
  
  .file-icon {
    flex-shrink: 0; 
   
    margin-right: 10px;
  }
  
  
  
  
  .upload-button1 {
    background-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
  }
  
  
  
  
  
  .hidden-input {
    display: none;
  }
  
  
  .upload-button1:hover {
    cursor: pointer;
  
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .icon {
  width: 20px;
  } 