.navigation-box:focus {
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  
  .navigation-box {
    display: flex;
    align-items: center;
    position: absolute;
    left: 7vw;
    top: 50%;
    transform: translateY(-50%);
    gap: 0.5rem;
    width: 30vw;
    height: 100%;
    justify-content: center; 

  }
  
  .navigation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 40px;
    overflow-x: none;
    background-color: #40414e;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 5px;

  }
  
  .navigation input {
    margin: 0;
  }
  
  .page-number {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    background-color: #007bff;
    border-radius: 10px;
    margin: 2px;
    overflow-x: none;
    white-space: nowrap;  
    width: 80px;  
    overflow-x: none;
    overflow-y: none;
    color: white;
    height: 30px;
    padding-left: 2px;
    padding-right: 2px;
    padding-right: 10px;
    flex-shrink: 0;
  }
  
  .page-number p {
    top: 50%;
    
    padding: 5px;
  
    margin: 0;
  }
  
  .page-number input {
    width: 30px;
    background-color: #40414e;
    border: none;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    text-align: center;
    margin-left: 2px;
    margin-right: 3px;
  }
  
  
  .navigation button {
    flex-grow: 0.1;
    background-color: #007bff;
    color: white;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
  }
  
  .navigation button.reset {
    width: 50px;
  }
  
  .navigation button:hover {
    background-color: #0069d9;
  }
  