.query-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1vw;
  top: 50%;
  transform: translateY(-50%);
  gap: 0.5rem;
  width: 53vw;
  height: 100%;
}

#query-input {
  flex-grow: 1;
  resize: none;
  box-sizing: border-box;
  height: 40px;
  color: white;
  font-size: 1rem;
  padding: 0.6rem;
  border: none;
  background-color: #40414e;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  box-sizing: border-box;
}

#query-input:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

  
#submit-button {
  background-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
  height: 40px;
  width: 5em;
  color: #fff;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#submit-button:not(.loading):hover {
  cursor: pointer;
  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}