.uploaded-files-container {
  top: 50%;
  left: 0.5vw;
  height: 80vh;
  display: flex;
  z-index: 1000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #40414e;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-right: 10px;

  width: 43%;
}

.box-container,
.uploaded-files-container {
  height: 80vh;

  padding: 10px;
  border-radius: 10px;
  background-color: #40414e;
}

.uploaded-files-container {
  z-index: 1000;
  background-color: #40414e;
  display: flex;
}

.file-bar {

  height: calc(100% - 45px); 
  width: 10vw;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 10px;
  background-color: #292a32;
  margin-right: 10px;
}


.search-field {
  height: 40px;
  width: 10vw;
  box-sizing: border-box;
  padding: 8px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  background-color: #292a32;
  overflow-y: auto;
  border: none;
}

.search-field:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.file-list {
  height: auto;
  flex: 0 0 auto;
  border-radius: 5px;
  list-style: none;

  padding: 5px;

  display: block;

  text-align: left;
  margin: 0;
  margin-bottom: 0;
}

.file-list li {
  
  list-style-type: none;
  white-space: normal; 
  word-wrap: break-word;
  background-color: #3d3e49;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 5px;
  user-select: none;
}

li img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.file-list li:hover {
  background-color: #565663;
  cursor: pointer;
}

.pdf-container {
  position: relative;
}

.pdf-viewer {
  height: 100%;
  width: calc(100% - 10vw - 20px);
  overflow-y: auto;
  overflow-x: scroll;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  margin: 0;

  background-color: white;
}





