.file-bar {
  height: 100%;
  width: 10vw;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 10px;
  background-color: #292a32;
  margin-right: 10px;
}

.file-list {
  height: auto;
  flex: 0 0 auto;
  border-radius: 5px;
  list-style: none;

  padding: 5px;

  display: block;

  text-align: left;
  margin: 0;
  margin-bottom: 0;
}

.file-list li {
  width: auto, fit-content;
  cursor: pointer;
  background-color: #3d3e49;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 5px;
}

li img {
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.file-list li:hover {
  background-color: #2f3039;
}

.pdf-container {
  position: relative;
}

.pdf-viewer {
  height: 100%;
  width: 80%;
  overflow-y: auto;
  overflow-x: scroll;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  margin: 0;

  background-color: white;
}

.navigation-box:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.navigation-box {
  width: 27%;
  position: fixed;
  bottom: 1vh;
  left: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}


.navigation {
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  bottom: 1vh; 
  left: 3%; 
  width: 27%; 
  height: 40px; 
  transform: translateX(0); 
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: white;
  background-color: #40414e;
  overflow-y: hidden;
  overflow-x: scroll;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
  box-sizing: border-box;
}

.navigation input {
  margin: 0;
}

.page-number {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: none;
  background-color: #007bff;
  border-radius: 10px;
  margin: 0;
  overflow-x: none;
  white-space: nowrap;  
  width: 80px;  
  overflow-x: none;
  overflow-y: none;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  padding-right: 10px;
}

.page-number p {
  top: 50%;
  
  padding: 5px;

  margin: 0;
}

.page-number input {
  width: 30px;
  background-color: #40414e;
  border: none;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-align: center;
  margin-left: 2px;
  margin-right: 3px;
}


.navigation button {
  flex-grow: 0.1;
  background-color: #007bff;
  color: white;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

.navigation button.reset {
  width: 50px;
}

.navigation button:hover {
  background-color: #0069d9;
}




.uploaded-files-container {
  top: 50%;
  left: 0.5vw;
  height: 80vh;
  display: flex;
  z-index: 1000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #40414e;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-right: 10px;

  width: 43%;
}

.box-container,
.uploaded-files-container {
  height: 80vh;

  padding: 10px;
  border-radius: 10px;
  background-color: #40414e;
}

.uploaded-files-container {
  z-index: 1000;
  background-color: #40414e;
}
