body {
  background-color: #343540;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000000000;
  height: 36px;
  background-color: #343540;
}

.app-footer {
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000000;
  height: 36px;
  background-color: #343540;
}


label {
  margin-top: 1rem;
  color: white;
}

html, body, #root {
  height: 100%;
  margin: 0;
  position: relative;
}

#root {
  height: 100%;
  margin: 0;
  display: grid;
  justify-items: end;  
  align-items: center; 
  grid-gap: 5%; 
}

.box-container, .uploaded-files-container {
  height: 80vh;
  width: 45%;  
  padding: 10px;
  border-radius: 10px;
  background-color: #40414e;
}


.box-container {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 0.5vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 53%;  
  height: 80vh; 
  overflow-y: auto;
  background: #40414e;
  border-radius: 10px;
  margin-left: 10px;
  
}






.box-content {
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  line-height: 1.4;
}

.box-content.user {
  align-self: flex-end;
  background-color: #29b62b; 
  color: white;
}

.box-content.server {
  align-self: flex-start;
  background-color: #007bff; 
  color: white;
}